@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Exo+2:ital@1&family=Inter:wght@300&family=Josefin+Sans&family=Kurale&family=Lobster+Two&family=Playfair+Display:ital@1&family=Rye&family=Signika+Negative:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-light:#709dff;
    --primary-dark:#5651e5;
}


.container{
   
    height: 100vh;
    width: 100%;
    
}

/* //////////effect/////////// */













