.bg{
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 4rem;
}
.bg .container h1{
    padding: 1rem 0;
}

.bg .container .img-container{
    display: grid;
    margin: auto;
    padding: 1rem 0;
    grid-template-columns: repeat(var(--num-cols),1fr);
    gap: var(--gap);
    --row-height:300px;
    --gap:1rem;
    --num-cols:5;
}

.bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.span-3{
    grid-column: span 3;
}

.img-grid-row-2{
    grid-row: span 2;
}

@media screen and (max-width:900px){
    
    .img-container{
        --gap:0.5rem;
    }

    .bg{
        padding: 1rem;
    }
}
